<p style="color: green"><%= notice %></p>

<%= render @card %>

<div class="center" >
  <div class ="button">
  <%= link_to "Edit this card", edit_card_path(@card) %> 
  </div>

  <%= link_to "Back to cards", cards_path, class: 'button' %>
  
  <div class ="button red">
  <%= button_to "Destroy this card", @card, method: :delete %>
  </div>
</div>


