<!DOCTYPE html>
<html>
  <head>
    <title>PokeRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "card" %>
    <%= stylesheet_link_tag "form" %>
    <%= stylesheet_link_tag "reach" %>
  </head>
  <header>
    <div class="link">
      <div class=logo>
        <%= image_tag "logo.svg", height: 45%>
      </div>
      <p><%= link_to "Home", cards_path %><p>
      <p><%= link_to "New card", new_card_path %></p>
      <p><%= link_to "Research", reach_path %></p>
    </div>
  </header>
  <div class ="padding">
  </div>
  

  <body>
 
    <%= yield %>
  </body>
</html>

