<!DOCTYPE html>
<html>
  <head>
    <title>PokeRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= script_link_tag "script", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track" => "script" %>
    <%= javascript_include_tag "script" %>
  </head>
  <header>
   <%= link_to "reach", reach_path %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
